 /* Navigation */

    #navbar
    {
        flex-direction: column;
    }
    #navbar ul {
         
         
        padding-left: 33px;
         
    }
    navbar ul li a{
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 8px;
    }
    
 /* Home section */
 #home{

    height: 435px;
    padding: 14px 0px;
 }
 #home::before
 {

    height: 544px; 
    padding: 3px 28px;
     
 }
#home p{
    font-size: 13px;
}

 /* Service section */
#services
 {
    flex-direction:column;
 }
 #servcies .box
 {
    padding: 14px;
    margin: 2px 0px;
    
    
    margin-bottom: 20px;
 }
#services .box img{
    height: 111px;
}
 /* Client section  */
 
#client
{
    flex-wrap:wrap;
}


#client img
{
    width: 66px;
    padding: 6px;
    height: auto;
}
 /* Contact section */

  

 /* footer */


 /* Utility classes */
 .h-primary
 {
     font-size:26px ;
     
 }
 .btn
 {
     font-size: 13px;
     padding:4px 8px;
 }